*.pem
*.key
*.env
*.Zone.Identifier

*.gguf
*.safetensors
*.bin
*.pt
*.pth
*.zip

*.csv
*.jsonl
part-*.csv

__pycache__/
*.pyc
venv/
env/
unsloth_env/
.ipynb_checkpoints/

customer_support_chatbot_gguf/
customer_support_chatbot_lora/
customer_support_chatbot_lora_emr/
unsloth_compiled_cache/
